.skip {
    display: none;
}

nav li{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    padding-right: 20px;
    margin: 25px;
}

nav a{
    color: #000000;
    text-decoration: none;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
    list-style: none; /* Remove the default list bullets */
    padding: 0; /* Remove default padding */
}

/* Style the individual list items */
nav ul li {
    text-align: center;
    padding: 10px;
}

/* Style the links in the list items */
nav ul li a {
    text-decoration: none;
    color: #333; /* Change the link color as desired */
}

h1{
    font-size: 200%;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
}

h2{
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-size: 125%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

li{
    margin-left: 30px;
    margin-right: 15px;
}

p{
    margin-left: 15px;
    margin-right: 15px;
}

figcaption{
    margin-left: 15px;
    margin-right: 15px;
}

body{
    background-color: #ffffff;
    line-height: 1.5;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.skip a:focus {
    position: absolute;
    top: 20px;
  }

/* Style the .salad container */
.salad {
    position: relative;
    background-color: #000000;
    max-width: 100%;
    height: auto;
    margin: 10px 0; /* Add margin for spacing */
    display: flex;
    flex-direction: column;  
}

/* Style the .salad img */
.salad img {
    width: 100%;
    height: auto;
    opacity: 50%;
}

.saladoverlay {
    font-size: 3vw; /* You can adjust the size as needed */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 1; /* Ensure the title is above the image */
    color: rgb(255, 236, 204);   
    display: flex;
}

.saladoverlaybottom {
    font-size: 1.5vw;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 1; /* Ensure the title is above the image */
    color: rgb(255, 236, 204);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.saladoverlaybottom2 {
    font-size: 1vw;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    z-index: 1; /* Ensure the title is above the image */
    color: rgb(255, 236, 204);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.spaghetti in plate {
    width: 100%;
    height: auto; /* This maintains the image's aspect ratio */
}

.spaghetti img {
    position: relative;
    text-align: center;
}

.gallery {
    margin-top: 20px;
    text-align: center;
}

.gallery.column {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    justify-items: center;
}